<nav class="navbar navbar-expand-lg bg-dark bg-body-tertiary border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i class="fa-brands fa-tumblr fa-xl" style="color: #bababa;"></i>&nbsp;Tweetr</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if g.user %}
        <ul class="navbar-nav">
            <li class="navbar-item"><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
        {% else %}
        <ul class="navbar-nav">
            <li><a href="{{ url_for('login') }}">Login</a></li>&nbsp;&nbsp;
            <li><a href="{{ url_for('register') }}">Register</a></li>
        </ul>
        {% endif %}

        <!-- {%if g.user%}
        <ul class="navbar-nav ml-auto">    
            <li class="navbar-item"><span>Welcome, {{ g.user.username }}</span></li>
        </ul>
        {%endif%} -->

      </div>
    </div>
  </nav>